html, body {
    height: 100%;
}


div#navbar {
    /* padding: 15px 15px 15px 30px; */
    background-color: rgba(255, 255, 255, 0.9);
    /* position: absolute; */
    border-bottom: 1px solid rgb(233, 236, 239);
}
/* 
div#navbar * {
    margin: 0;  
}

div#navbar h3 {
    display: inline;
} */
/* 
.navbarH {
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 1; 
} */