html, body {
    height: 100%;
}


div#navbar {
    /* padding: 15px 15px 15px 30px; */
    width: 100%;
    position: absolute;
    z-index: 100;

    background-color: rgba(255, 255, 255, 0.9);
    /* border-bottom: 1px solid ; */
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2) ;
}
/* 
div#navbar * {
    margin: 0;  
}

div#navbar h3 {
    display: inline;
} */
/* 
.navbarH {
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 1; 
} */