<!DOCTYPE html>
<html lang="en">

<head>
    {# META #}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | KeyTraxx</title>
    {# <meta name="description" content="KeyTraxx"> #}
    {# <meta name="author" content="KeyTraxx"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="icon" type="image/png" href=""> #}
    
    {# CSS #}
    {% block head_style %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">{# BOOTSTRAP #}
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/keytraxx.css">
    
    {% block head_script %}{% endblock %}
</head>

<body class="h-100">
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col">
                {# NAVIGATION BAR #}
                <div id="navbar" class="py-3 pr-3 pl-2">
                    <div class="row">
                        
                        {# LOGO #}
                        <div class="col-sm-auto">
                                <h3 class="navbarH"><a href="{{path_for('map')}}" class="text-dark">KeyTraxx</a></h3>
                        </div>

                        {# CENTER CONTENT #}
                        {% block navbar_center %}
                            <div class="col"></div>
                        {% endblock %}
                        
                        {# LOGIN BUTTON #}
                        {% block navbar_login %}
                            <div class="col-sm-auto">
                                <a id="sign-in" href="{{path_for('login')}}" class="btn btn-outline-dark d-none" role="button">Sign In</a>
                                <button id="sign-out" class="btn btn-outline-dark d-none">Sign Out</button>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-100">
            <div class="col">
                {# MAIN CONTENT #}
                {% block content %}
                    {# <div class=""> #}
                        {% block content_with_margin %}{% endblock %}
                    {# </div> #}
                {% endblock %}
            </div>
        </div>
    </div>

    {# <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-auth.js"></script> #}
    {# <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-database.js"></script> #}
    
    {# <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCVa7eKwNGKNniq9F3U_t91mybw3hgwUM4",
            authDomain: "key-traxx.firebaseapp.com",
            databaseURL: "https://key-traxx.firebaseio.com",
            projectId: "key-traxx",
            storageBucket: "key-traxx.appspot.com",
            messagingSenderId: "614611852970"
        };
        firebase.initializeApp(config);

        // var database = firebase.database();
    </script> #}


    {# <script src="js/firebase.js"></script> #}

    {# jQuery #}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    {# Bootstrap #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    
    {# Firebase #}
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="js/firebase_init.js"></script>

    {# Our Javascript #}
    <script src="js/keytraxx.js"></script>

    {% block body_script %}{% endblock %}

</body>

</html>
