{% extends 'base.twig.html' %}

{% block navbar %}{% endblock %}

{% block head_style %}
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
{% endblock %}

{% block body_script %}
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script src="js/firebase_ui_init.js"></script>
{% endblock %}

{% block title %}Sign In{% endblock %}

{% block navbar_login %}{% endblock %}

{% block content_with_margin %}
{# VERTICALLY ALIGNED ROW #}
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <br>
            <h2>KeyTraxx</h2>
        </div>
    </div>
    <div class="row align-items-center" style="margin-top:50px;">
        <div class="col text-center">
            <h1 class="display-3">Welcome.</h1>
            <div id="sign-in-container" style="margin-top:25px;"></div>
        </div>
    </div>
</div>
{% endblock %}
